.containerMain {
    display: flex;
    justify-content: center; /* Horizontally center the flex items */
    align-items: center; /* Vertically center the flex items */
    background-image: url('./walpy.png');
    background-color: rgb(70, 150, 197);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; /* Set the body height to 100% of the viewport height */
    margin: 0; /* Remove default body margin */
  }
  

  .containerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: rgb(55, 144, 144);
    width: 30%; 
    height: 250px; 
  }
  
  .buttons {
    width: 150px; 
    height: 40px; 
    font-size: medium;
  }