.containerGameOver {
    display: flex;
    position: relative;
    background-color: bisque; 
    background-image: url(./tamagotchiDead.png); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
}